.changePasswordContainer{
    display: flex;
    justify-content: center;
}

.changePasswordControl{
    margin-top: 40px;
    border: 1px solid hsla(0, 0%, 0%, 0.274);
    padding: 20px 15px 40px 15px;
    border-radius: .25rem;
    width: 100%;
    max-width: 500px;
}

.changePasswordControl h1{
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 1.5rem;
}

.spanText{
    font-weight: 600;
    font-size: 1.1rem;
}

.formChange{
    margin: 0 15px 0 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.formChange input{
    width: 100%;
    padding: 10px 5px;
}

.formChange .btn{
    background-color: rgb(51, 94, 205);
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}
